* {
    background-color: #878686;
}

html, body {
  height: 100%;
  margin: 0 auto;
  overflow: hidden;
}


h1:hover {
  cursor: pointer;
}

.container {
    height: 100%;
}

.container div {
    font-family: OpenSans;
    margin: 0;
    color: #0F0F0F;
    position: relative;
    transform: translate(50%, 50%);
}

