@import 'base';
@import 'vendor/normalize';

.mainbody {
  font-family: RobotoDraft;
  margin: 0 auto;
  text-align: center;
}

.view-container {
  transform: translateY(7vh);
}

.splash-image {
  background: url('https://s3.amazonaws.com/terakilobyte.com/files/pic.io.pages.terakilobyte.jpg');
  height: 100vh;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.navbar {
  position: fixed;
  background-color: hsl(240, 25, 50);
  display: inline-block;
  margin: 0 auto;
  height: 7vh;
  border-raius: 0px;
  -webkit-box-shadow: 0px 3px 20px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 3px 20px 0px rgba(0,0,0,0.75);
  box-shadow: 0px 3px 20px 0px rgba(0,0,0,0.75);
  z-index: 1;
}
